In [1]:
print('Hello, world!')

Hello, world!

In [2]:
idade = 5
print(idade)

5

In [3]:
idade = 10
print(idade)

10

In [4]:
idade = 15
idade

15

In [5]:
nome = 'Fulano'
nome

'Fulano'

In [6]:
idade = 1
Idade = 2
IDADE = 3
_idade = 4
_idade_ = 5
print(idade, Idade, IDADE, _idade, _idade_)

1 2 3 4 5

In [7]:
i = 5
type(i)

int

In [8]:
f = 9.8
type(f)

float

In [9]:
s = 'Mirla'
type(s)

str

In [10]:
b = True
type(b)

bool

In [11]:
nome_aluno = 'Fulano de Tal Jr.'
idade_aluno = 15
media_aluno = 8.45
situacao_aprovado = True
print(nome_aluno, idade_aluno, media_aluno, situacao_aprovado)

Fulano de Tal Jr. 15 8.45 True

In [12]:
quantidade_seguranca = 5
salario_seguranca = 3000

quantidade_docente = 16
salario_docente = 6000

quantidade_diretoria = 1
salario_diretoria = 12500

In [13]:
total_empregados = quantidade_seguranca + quantidade_docente + quantidade_diretoria
total_empregados

22

In [14]:
diferenca_salario = salario_diretoria - salario_seguranca
diferenca_salario

9500

In [15]:
media = ((quantidade_diretoria * salario_diretoria) + (quantidade_docente * salario_docente) + (quantidade_seguranca * salario_seguranca)) / total_empregados
media

5613.636363636364

In [16]:
s1 = 'Alura'
s2 = "Alura"
print(type(s1),type(s2))

<class 'str'> <class 'str'>

In [17]:
texto = '  Lorena Alessandra dias Sanyos '

In [18]:
texto.upper()

'  LORENA ALESSANDRA DIAS SANYOS '

In [19]:
texto.lower()

'  lorena alessandra dias sanyos '

In [20]:
texto.strip()

'Lorena Alessandra dias Sanyos'

In [21]:
texto.replace('y', 't')

'  Lorena Alessandra dias Santos '

In [22]:
texto = texto.strip()   .replace('y', 't').upper()
texto

'LORENA ALESSANDRA DIAS SANTOS'

In [23]:
nome = input('Escreva seu nome: ')
nome

'Fulano'

In [24]:
ano_entrada = input('Escreva o ano de ingresso do(a) estudante: ')
type(ano_entrada)

str

In [25]:
ano_entrada = int(input('Escreva o ano de ingresso do(a) estudante:  '))
type(ano_entrada)

int

In [27]:
nota_entrada = float(input('Digite a nota do teste de ingresso: '))
print(f'Ano de entrada {ano_entrada} - nota do teste de ingresso {nota_entrada}')

Ano de entrada 2024 - nota do teste de ingresso 9.5

In [30]:
if 2 < 7:
    print('Condição verdadeira!')

Condição verdadeira!

In [32]:
if 2 > 7:
    print('Condição verdadeira!')
else:
    print('Condição falsa!')

Condição falsa!

In [35]:
media = float(input('Digite a média: '))
if media >= 6.0:
    print('Aprovado!')
else:
    print('Reprovado!')

Aprovado!

In [39]:
media = float(input('Digite a média: '))
if media >= 6.0:
    print('Aprovado!')
if 6.0 > media >= 4.0:
    print('Recuperação!')
if media < 4.0:
    print('Reprovado!')

Reprovado!

In [43]:
media = float(input('Digite a média: '))
if media >= 6.0:
    print('Aprovado!')
elif 6.0 > media >= 4.0:
    print('Recuperação!')
else:
    print('Reprovado!')

Aprovado!

In [45]:
t1 = t2 = True
f1 = f2 = False

In [47]:
if t1 and t2:
    print('Expressão verdadeira!')
else:
    print('Expressão falsa!')

Expressão verdadeira!

In [49]:
if t1 and f2:
    print('Expressão verdadeira!')
else:
    print('Expressão falsa!')

Expressão falsa!

In [51]:
if t1 or t2:
    print('Expressão verdadeira!')
else:
    print('Expressão falsa!')

Expressão verdadeira!

In [53]:
if f1 or f2:
    print('Expressão verdadeira!')
else:
    print('Expressão falsa!')

Expressão falsa!

In [55]:
if not t1:
    print('Expressão verdadeira!')
else:
    print('Expressão falsa!')

Expressão falsa!

In [57]:
if not f1:
    print('Expressão verdadeira!')
else:
    print('Expressão falsa!')

Expressão verdadeira!

In [59]:
lista = 'José da Silva, Maria Oliveira, Pedro Martins, Ana Souza, Carlos Rodrigues, Juliana Santos, Bruno Gomes, Beatriz Costa, Felipe Almeida, Mariana Fernandes, João Pinto, Luísa Nascimento, Gabriel Souza, Manuela Santos, Thiago Oliveira, Sofia Ferreira, Rafael Albuquerque, Isabella Gomes, Bruno Costa, Maria Martins, Rafaela Souza, Matheus Fernandes, Luísa Almeida, Beatriz Pinto, Mariana Rodrigues, Gabriel Nascimento, João Ferreira, Maria Albuquerque, Felipe Oliveira'

nome1 = 'Mariana Rodrigues'
nome2 = 'Marcelo Nogueira'

In [61]:
if nome1 in lista:
    print(f'{nome1} está na lista.')
else:
    print(f'{nome1} não está na lista.')

Mariana Rodrigues está na lista.

In [63]:
if nome2 in lista:
    print(f'{nome2} está na lista.')
else:
    print(f'{nome2} não está na lista.')

Marcelo Nogueira não está na lista.

In [66]:
nota1 = float(input('Digite a 1ª nota: '))
nota2 = float(input('Digite a 2ª nota: '))

print(f'Média: {(nota1 + nota2) / 2}')

Média: 5.0

In [68]:
contador = 1
while contador <= 10:
  print(contador)
  contador += 1

1
2
3
4
5
6
7
8
9
10

In [70]:
contador = 1
while contador <= 3:
    nota1 = float(input('Digite a 1ª nota: '))
    nota2 = float(input('Digite a 2ª nota: '))

    print(f'Média: {(nota1 + nota2) / 2}')
    contador += 1

Média: 4.0
Média: 5.0
Média: 6.0

In [72]:
for contador in range(1, 11):
    print(contador)

1
2
3
4
5
6
7
8
9
10

In [74]:
for contador in range(1, 4):
    nota1 = float(input('Digite a 1ª nota: '))
    nota2 = float(input('Digite a 2ª nota: '))

    print(f'Média: {(nota1 + nota2)/2}')

Média: 4.0
Média: 5.0
Média: 6.0