In [2]:
print('Hello, world!')

Hello, world!

In [4]:
idade = 5
print(idade)

5

In [6]:
idade = 10
print(idade)

10

In [8]:
idade = 15
idade

15

In [10]:
nome = 'Fulano'
nome

'Fulano'

In [12]:
idade = 1
Idade = 2
IDADE = 3
_idade = 4
_idade_ = 5
print(idade, Idade, IDADE, _idade, _idade_)

1 2 3 4 5

In [14]:
i = 5
type(i)

int

In [16]:
f = 9.8
type(f)

float

In [18]:
s = 'Mirla'
type(s)

str

In [32]:
b = True
type(b)

bool

In [34]:
nome_aluno = 'Fulano de Tal Jr.'
idade_aluno = 15
media_aluno = 8.45
situacao_aprovado = True
print(nome_aluno, idade_aluno, media_aluno, situacao_aprovado)

Fulano de Tal Jr. 15 8.45 True