In [1]:
print('Hello, world!')

Hello, world!

In [2]:
idade = 5
print(idade)

5

In [3]:
idade = 10
print(idade)

10

In [4]:
idade = 15
idade

15

In [5]:
nome = 'Fulano'
nome

'Fulano'

In [6]:
idade = 1
Idade = 2
IDADE = 3
_idade = 4
_idade_ = 5
print(idade, Idade, IDADE, _idade, _idade_)

1 2 3 4 5

In [7]:
i = 5
type(i)

int

In [8]:
f = 9.8
type(f)

float

In [9]:
s = 'Mirla'
type(s)

str

In [10]:
b = True
type(b)

bool

In [11]:
nome_aluno = 'Fulano de Tal Jr.'
idade_aluno = 15
media_aluno = 8.45
situacao_aprovado = True
print(nome_aluno, idade_aluno, media_aluno, situacao_aprovado)

Fulano de Tal Jr. 15 8.45 True

In [12]:
quantidade_seguranca = 5
salario_seguranca = 3000

quantidade_docente = 16
salario_docente = 6000

quantidade_diretoria = 1
salario_diretoria = 12500

In [13]:
total_empregados = quantidade_seguranca + quantidade_docente + quantidade_diretoria
total_empregados

22

In [14]:
diferenca_salario = salario_diretoria - salario_seguranca
diferenca_salario

9500

In [15]:
media = ((quantidade_diretoria * salario_diretoria) + (quantidade_docente * salario_docente) + (quantidade_seguranca * salario_seguranca)) / total_empregados
media

5613.636363636364

In [16]:
s1 = 'Alura'
s2 = "Alura"
print(type(s1),type(s2))

<class 'str'> <class 'str'>

In [17]:
texto = '  Lorena Alessandra dias Sanyos '

In [18]:
texto.upper()

'  LORENA ALESSANDRA DIAS SANYOS '

In [19]:
texto.lower()

'  lorena alessandra dias sanyos '

In [20]:
texto.strip()

'Lorena Alessandra dias Sanyos'

In [21]:
texto.replace('y', 't')

'  Lorena Alessandra dias Santos '

In [22]:
texto = texto.strip()   .replace('y', 't').upper()
texto

'LORENA ALESSANDRA DIAS SANTOS'

In [23]:
nome = input('Escreva seu nome: ')
nome

'Fulano'

In [24]:
ano_entrada = input('Escreva o ano de ingresso do(a) estudante: ')
type(ano_entrada)

str

In [25]:
ano_entrada = int(input('Escreva o ano de ingresso do(a) estudante:  '))
type(ano_entrada)

int

In [27]:
nota_entrada = float(input('Digite a nota do teste de ingresso: '))
print(f'Ano de entrada {ano_entrada} - nota do teste de ingresso {nota_entrada}')

Ano de entrada 2024 - nota do teste de ingresso 9.5

In [30]:
if 2 < 7:
    print('Condição verdadeira!')

Condição verdadeira!

In [31]:
if 2 > 7:
    print('Condição verdadeira!')
else:
    print('Condição falsa!')

Condição falsa!